* {   
    padding: 0%;
    margin:0% ;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #0A3A40;
    padding-bottom:  1.75%;
    padding-top: 1.75%;
    display: flex;
    justify-content: space-between;
}

h1 {
    display: flex;
    align-items: center;
    color: aliceblue;

   
}

.camaleao {
    height: 60px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.redes{
     display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: aua;
    width: 10%;
    justify-content: space-between;
    margin-left: 60%;
}

.face, .x, .insta {
    height: 45px;
}
.user {
    margin-right: 2%;
    display: flex;
    align-items: center;
}
ul{
    display: flex;
}
.links{
    background-color: blueviolet;
    width: 150%;
    display: flex;
    justify-content: space-between;

}
a{
    text-decoration: none;
    color: white;
}


